<div class="card">
    <div class="card-header bg-primary text-white">
      cancel Order
    </div>
    <div class="card-body">
      <form [formGroup]="cancelOrderForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="orderId" class="form-label">Order ID</label>
          <input type="text" id="orderId" class="form-control" formControlName="orderId" readonly>
        </div>
        <div class="mb-3">
          <label for="newQuantity" class="form-label">New Quantity</label>
          <input type="number" id="newQuantity" class="form-control" formControlName="newQuantity">
          <div *ngIf="cancelOrderForm.get('newQuantity')?.invalid && cancelOrderForm.get('newQuantity')?.touched" class="text-danger">
            New quantity is required and must be at least 1.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="cancelOrderForm.invalid">Submit Modification</button>
      </form>
    </div>
  </div>